html{
    background-color: rgb(0, 0, 0);

}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(0, 0, 0);
}


.main {
    margin-top: 50px; 
    padding-top:250px;
    background-image:url("/media/paphi3.jpg");
    background-repeat:repeat-x;
    min-height: 1300px;


}
.launch-area {
    min-height:600px; 
    background-color:rgba(0, 0, 0, 0.60)
}
input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*-moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    */font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}

input.rounded:focus {

    border-color: #339933;

}

